body {
    font-family: 'Montserrat', sans-serif;
    background: Linear-gradient(to left, royalblue, cyan);
    color: #fff;
   /* margin-bottom: 100px;*/
    padding: 0;
}

h1, h3, h4 {
    color: #fff; /* White color for titles for contrast against the background */
    margin-bottom: 15px;
}

.navbar {
    background-color: #ffffff; /* Dark blue color for the navbar */
    color: #000000;
    box-shadow: 0 2px 4px rgba(0,0,0,.3); /* Adds depth with a subtle shadow */
    min-height: 30px;
}

.navbar-toggler{
    background-color: royalblue;
    height: 30px; /* Adjust this value as needed */
}

.nav-link {
    color: royalblue;
}

.nav-link:hover {
    color: darkblue;
}

/*--------------------------------------------------------------
                        SECTION CODE
--------------------------------------------------------------*/

.section-bg {
    background-color: #ffffff;
    margin-top: 100px;
}

section {
    padding-bottom: 100px;
    padding-top: 50px;
    overflow: hidden;
}

.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    text-align: center;
    color: rgb(255, 255, 255);
}

#why{
    color: Black;
}

/*--------------------------------------------------------------
                         BUTTON CODE
--------------------------------------------------------------*/

.btn-primary {
    background-color: #007bff; /* Blue buttons */
    border: none; /* Cleaner look without border */
    box-shadow: 0 2px 4px rgba(0,0,0,.2); /* Subtle shadow for depth */
}

@keyframes pulse {
    0% {
        transform: scale(1);
        background-color: #00fbfc;
        color: white;
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
        background-color: #00fbfc;
        color: white;
    }
}

.btn-home {
    font-family: 'Montserrat', sans-serif;
    border-radius: 25px;
    background-color: #ffffff; /* Blue buttons */
    border: none; /* Cleaner look without border */
    box-shadow: 0 2px 4px rgba(0,0,0,.2); /* Subtle shadow for depth */
    margin-bottom: 25px;
    margin-top: 25px;
    padding: 25px 150px;
    display: block;
    width: 100%;
    height: 25%;
    color: #3f6ce0;
    font-size: 42px;
    font-weight: bolder;
    align-items: center;
}
.btn-home:hover {
    animation: pulse 1s infinite;
    content: "material-symbols-outlined hover-icon" "arrow_forward";
}

.btn-container .hover-icon {
    visibility: hidden;
}

.btn-container:hover .hover-icon {
    visibility: visible;
}

.container {
    max-width: 1200px; /* Adjust as needed */
    margin-top: 50px; /* Adds some space at the top */
    padding: 20px; /* Add padding to the container */
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .navbar {
        background-color: #0056b3; /* Slightly different shade for smaller screens */
    }
}

.google-maps {
    position: relative;
    margin-top: auto;
    padding-bottom: 75%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}


/*--------------------------------------------------------------
# Reasons for this app
--------------------------------------------------------------*/
#reasons{
    background: royalblue;
    padding-bottom: 75px;
    padding-top: 50px;
    margin-top: 0;
}

.reasons .icon-box {
    box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
    padding: 50px 30px;
    transition: all ease-in-out 0.4s;
    background: #ffffff;
    cursor: default;
    color: royalblue;
    text-align: center;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.reasons .h4 {
    box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
    padding: 50px 30px;
    transition: all ease-in-out 0.4s;
    background: cyan;
    cursor: default;
}

.reasons .icon-box .icon {
    margin-bottom: 10px;
}

.reasons .icon-box .icon i {
    color: #007bff;
    font-size: 36px;
    transition: 0.3s;
}

.reasons .icon-box h4 {
    font-weight: 500;
    margin-bottom: 15px;
    font-size: 24px;
    color: royalblue;
    text-align: center;
}

.reasons .icon-box h4 a {
    color: #003cff;
    transition: ease-in-out 0.3s;
}

.reasons .icon-box p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;

}

.reasons .icon-box:hover {
    transform: translateY(-10px);
}

.reasons .icon-box:hover h4 a {
    color: #278eff;
}
/*--------------------------------------------------------------
# Status Boxes
--------------------------------------------------------------*/
.status .icon-box {
    box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
    padding: 25px 40px 5px;
    transition: all ease-in-out 0.4s;
    background: #ffffff;
    cursor: default;
    color: royalblue;
    text-align: center;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;

    position: relative;

}

.status .h4 {
    box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
    padding: 50px 30px;
    transition: all ease-in-out 0.4s;
    background: cyan;
    cursor: default;
}

.status .icon-box .icon {
    margin-bottom: 10px;
}

.status .icon-box .icon i {
    color: #007bff;
    font-size: 36px;
    transition: 0.3s;
}

.status .icon-box h4 {
    font-weight: 500;
    margin-bottom: 15px;
    font-size: 24px;
    color: royalblue;
    text-align: center;
}

.status .icon-box- h4 a {
    color: #003cff;
    transition: ease-in-out 0.3s;
}

.status .icon-box p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;

}

.status .icon-box:hover {
    transform: translateY(-10px);
}

.status .icon-box:hover h4 a {
    color: #278eff;
}

/*--------------------------------------------------------------
# Floor page buttons
--------------------------------------------------------------*/
@keyframes pulse {
    0% {
        transform: scale(1);
        background-color: #00fbfc;
        color: white;
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
        background-color: #00fbfc;
        color: white;
    }
}

.btn-floors {
    font-family: 'Montserrat', sans-serif;
    border-radius: 25px;
    background-color: #ffffff; /* Blue buttons */
    border: none; /* Cleaner look without border */
    box-shadow: 0 2px 4px rgba(0,0,0,.2); /* Subtle shadow for depth */
    margin-bottom: 20px;
    margin-top: 30px;
    margin-right: 20px;
    padding-left: 40px;
    color: #3f6ce0;
    font-size: 30px;
    font-weight: bolder;
    align-items: center;

}
.btn-floors:hover {
    animation: pulse 1s infinite;
    content: "material-symbols-outlined hover-icon" "arrow_forward";
}

.btn-container .hover-icon {
    visibility: hidden;
}

.btn-container:hover .hover-icon {
    visibility: visible;
}